{
  "shopAdmins": [
    {
      "email": "pat+102@nanameue.jp",
      "password": ""
    }
  ],
  "buyers": [
    {
      "email": "pat+100@datawow.io",
      "password": ""
    },
    {
      "email": "pat+101@datawow.io",
      "password": ""
    }
  ],
  "superAdmins": [
    {
      "email": "phatograph+1@gmail.com",
      "password": ""
    }
  ]
}
